form {
    border: 10px solid #cf6363;
    padding: 20px;
}
input {
    padding: 10px 15px;
    margin-left: 50%;
    margin-right: 50%;
    width: 80%;
}
section{
    color: darkcyan;
    background-color: darkgray;
}
button{
    display: inline-block;
    padding: 10px;
    text-align: center;
}